@import url("screen.css");

/* Dark overrides */
body {
	background: #000;
	color: #CC9;
}

a {
	color: #ff6;
}
a:hover {
	background: #CC9;
	color: #000;
}
a:visited {
	color: #ee6;
}

#home-contents h1 {
	color: #00ff41;
}
a#home span {
	color: #00ff41;
}
a#home:visited  span {
	color: #00ff41;
}

a#atom {
	color: #008f11;
}
a.external:before {
	padding-right: 5px;
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

a.setcss.light {
	color: white;
	display: inline;
}
a.setcss.dark {
	display: none;
}

img {
	opacity: .75;
	transition: opacity .5s ease-in-out;
}
img:hover {
	opacity: 1;
}
