<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="cache-control" content="no-cache" />
{% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
{% else %}
    <meta name="description" content="Giacomo Tesio - {{ page.title }}"/>
{% endif %}

  <title>Giacomo Tesio</title>

    <meta property="og:site_name" content="Giacomo Tesio"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="http://www.tesio.it{{ page.url }}"/>
    <meta property="og:type" content="article"/>
{% if page.image %}
    <meta property="og:image" content="{{ page.image }}"/>
{% endif %}
{% if page.video %}
    <meta property="og:video" content="{{ page.video }}"/>
{% endif %}

	<link rel="stylesheet" type="text/css" href="/graphic/screen.css" />
{% if page.css %}
	<link rel="stylesheet" type="text/css" href="/graphic/{{ page.css }}" />
{% endif %}
</head>
<body class="page">
	<header>
		<a href="/" id="home"><span>home</span></a>
		<h1>{{ page.title }}</h1>
	</header>
	<div class="contents">

{{ content }}

	<div style="margin-bottom:70px">&nbsp;</div>

	</div>
</body>
</html>
