<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="cache-control" content="no-cache" />
{% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
{% else %}
    <meta name="description" content="Jehanne - {{ page.title }}"/>
{% endif %}

  <title>Jehanne Operating System</title>

{% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}"/>
{% endif %}

    <meta property="og:site_name" content="Jehanne Operating System"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="http://jehanne.io{{ page.url }}"/>
    <meta property="og:type" content="article"/>
{% if page.image %}
    <meta property="og:image" content="{{ page.image }}"/>
{% endif %}
{% if page.video %}
    <meta property="og:video" content="{{ page.video }}"/>
{% endif %}

	<link rel="stylesheet" type="text/css" href="/graphic/screen.css" />
	<link rel="stylesheet" type="text/css" href="/graphic/syntax-tango.css" />
{% if page.css %}
	<link rel="stylesheet" type="text/css" href="/graphic/{{ page.css }}" />
{% endif %}
</head>
<body class="page">
	<header>
		<a href="/" id="home"><span>&laquo; home</span></a>
		<h1>{{ page.title }}</h1>
	</header>
	<div class="contents">
		  <span style="color: #8F8F8F; padding-top:3px; padding-bottom:10px;font-size:13px">{{ page.date | date_to_string }}</span>

{{ content }}


	<div style="margin-bottom:70px">&nbsp;</div>

	</div>
</body>
</html>
